.head {
 display: flex;
 justify-content: flex-end;
 background-color: #F9F7F8;
}

.titre{
  display: flex;
  justify-content: center;
}
.taille{
  width: 10%;
  height: 1px;
}

.banner {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(https://images.pexels.com/photos/313690/pexels-photo-313690.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  padding: 100px 50px;
}

.page-link{
  color: #ffcccc
}



.banner-Parcours {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(https://images.pexels.com/photos/830891/pexels-photo-830891.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  padding: 100px 50px;
}

.banner-competence {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(https://images.pexels.com/photos/285814/pexels-photo-285814.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  padding: 100px 50px;
}

.banner-interet {
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(https://images.pexels.com/photos/3889704/pexels-photo-3889704.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  padding: 100px 50px;
}

.banner-personnelle {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(image/CV.pdf);
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  padding: 100px 50px;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: auto;
}

#menu{

  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background-color: #F9F7F8;
  border-top:1px; solid:#c4c9c7;
}

.back { 
 background-color:  #F9F7F8; 
}

.texte{
 color: black;
 margin: 1em;
}

.cards {
  padding: 15px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.card-school {
  width:  28%;
}


.card-element {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 180px;
  border-radius: 5px;

}

.card-element2 {
  width: 90%;
  background-size: cover;
  background-position: center;
  height: 180px;
  border-radius: 5px;
}
       
.place{
  background-image: url(image/banniere3.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}

.formation{
  display: flex;
  justify-content: center;
}

.text-bullet{
  
}


.réseaux {
  color: #ffcccc;
  text-shadow: 1px 1px 3px (rgba 0, 0, 0, 0);
  justify-content: center;
  text-align: center;
  width: 40%;

  font-size: 50px;
   }

.image{
  display: flex;
  align-self: flex-start;
  width: 27%;
}

.centre-page{
  color: #ffcccc;

}

.center-page{
  display: flex;
  justify-content: center;
}


.icone {
  color: #ffcccc;
  font-size: 40px;
}

.split-page {
  display: flex;


.left-content{
  width: 35%;
}

.carousel {
  width: 60%;
  height: 50px;
}


/* On screams that are 600px or less */
@media screen and (max-width: 600px) {
  .place{
    background-image: url(image/banniere3.png);
    width: 100%;
  }
}






         